@tailwind base;
@layer base {
  h1 {
    @apply text-2xl;
  }
  h2 {
    @apply text-xl;
  }
  h3 {
    @apply text-lg;
  }
}
@tailwind components;
@tailwind utilities;
*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
:root {
  --header-height: 50px;
  --footer-height: 30px;

  --background-primary-color: rgb(255, 255, 255);
  --background-dark-color: #1f1f1f;
  --border-stone-600: rgba(209, 209, 209, 0.767);
  --secondary-dark-color: #7e7c7c;

  --primary: #fdf5df;
  --secondary: #5ebec4;
  --tertialry: #f92c85;
}
#app {
  min-height: 100vh;
}

header {
  min-height: var(--header-height);
}

footer {
  min-height: var(--footer-height);
}
