@tailwind base;
@layer base {
  h1 {
    @apply text-2xl;
  }
  h2 {
    @apply text-xl;
  }
  h3 {
    @apply text-lg;
  }
}
@tailwind components;
@tailwind utilities;
*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
:root {
  --header-height: 50px;
  --footer-height: 30px;

  --background-primary-color: rgb(236, 233, 233);
  --border-stone-600: rgba(189, 189, 189, 0.767);
}
#app {
  min-height: 100vh;
}

header {
  min-height: var(--header-height);
}

footer {
  min-height: var(--footer-height);
}
